.nav-bar {
	.signUp-btn {
		/* UI Properties */
		border: 1px solid #ffffff4b;
		border-radius: 30px;
		opacity: 1;
		color: white;
		background-color: transparent;
		padding: 12px 40px;
		margin-right: 14px;
	}
}
